<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vibrant Adventures</title>
	<link rel="stylesheet" href="/css/homepage.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<section>
		<!-- Header -->
		<header class="header">
			<a href="/home-page" id="logo">Vibrant<span>Ventures</span></a>
			<nav class="navbar">
				<ul>
					<li><a href="/home-page" class="active">Home</a></li>
					<li><a href="/about-us">About Us</a></li>
					<li><a href="/booking-form">Booking</a></li>
					<li><a href="/contact-us">Contact Us</a></li>
					<li id="signup"><a href="/sign-up">Sign Up</a></li>
					<li id="logout"><a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</header>

		<!-- Home -->
		<div class="content">
			<div class="text">
				<h1>Vibrant Adventures</h1>
				<p>Adventure Awaits. Are You Ready?</p>
				<a href="/about-us" class="hero-btn">Explore</a>
			</div>
		</div>
	</section>

	<!-- Header -->
	<footer>
		<p>&copy; 2024 Vibrant Ventures. All rights reserved.</p>
	</footer>

	<script src="js/validate.js"></script>
</body>

</html>