<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login - Vibrant Ventures</title>
  <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
  <!-- Header -->
  <header class="header">
    <a href="/home-page" id="logo">Vibrant<span>Ventures</span></a>
    <nav class="navbar">
      <ul>
        <li><a href="/home-page">Home</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/booking-form">Booking</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
      </ul>
    </nav>
  </header>

  <!-- Form -->
  <div class="centered-container">
    <div class="form-container">
      <form id="login-form">
        <h2>VIBRANT VENTURES</h2>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit" value="submit">Login</button>
      </form>
      <p class="account-link">Don't have an account? <a href="/sign-up">Sign up</a></p>
    </div>
  </div>

  <script src="/js/login.js"></script>
</body>

</html>