<!DOCTYPE html>
<html lang="en">

<head>
  <title>Signup - Vibrant Ventures</title>
  <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
  <header class="header">
    <a href="/home-page" id="logo">Vibrant<span>Ventures</span></a>
    <nav class="navbar">
      <ul>
        <li><a href="/home-page">Home</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/booking-form">Booking</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/sign-up" class="active">Sign Up</a></li>
      </ul>
    </nav>
  </header>
  <div class="centered-container">
    <div class="form-container">
      <form id="signup-form">
        <h2>Create Account</h2>
        <input type="text" id="fName" placeholder="firstname" required>
        <input type="text" id="lName" placeholder="lastname" required>
        <input type="text" id="uName" placeholder="username" required>
        <input type="email" id="email" placeholder="email" required>
        <input type="password" id="password" placeholder="PASSWORD" required>
        <input type="password" id="Cpassword" placeholder="CONFIRM PASSWORD" required>
        <button type="submit" value="submit">Sign Up</button>
      </form>
      <p class="account-link">Already have an account? <a href="/login">Login</a></p>
    </div>
  </div>

  <script src="/js/signup.js"></script>
</body>

</html>